<header class="p-3 bg-dark text-white">
  <div class="container">
    
    <div class="ml-3">
      <h2 class="text-center">Product Community</h2>
      <div class="top-links">
      <button class="btn btn-outline-light  homebtn" routerLink="/home">Home</button>
      <button class="btn btn-outline-light  homebtn" routerLink="/search">Search</button>
    </div>

      <div class="logoutdiv" style="display: flex;">
        <span *ngIf="isLoggedIn" classs="me-5">Welcome {{username}}</span>
        <button *ngIf="isLoggedIn" class="btn btn-outline-light  ms-2 logoutbtn" (click)="logout()">Logout</button>
        
        <div style="display: flex;">
          <button *ngIf="!isLoggedIn" class="btn btn-outline-light me-2 logoutbtn" routerLink="/login">Login</button>
          <button *ngIf="!isLoggedIn" class="btn btn-outline-light me-2 logoutbtn"
            routerLink="/register">Register</button>
        </div>
      </div>

    </div>
  </div>
</header>