<div class="container col-md-6">
    <form [formGroup]="addproductform" (ngSubmit)="getData()">
        <div class="mb-3">
          <label for="code" class="form-label">Code</label>
          <input type="text" class="form-control" formControlName="code" required>
          <span class="error" *ngIf="code?.invalid && code?.touched">Code is required</span>
          <span class="error" *ngIf="codeAlreadyExist">Enter new code</span>
        </div>
        <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <input type="text" class="form-control" formControlName="brand" required>
            <span class="error" *ngIf="brand?.invalid && brand?.touched">Brand is required</span>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" required>
            <span class="error" *ngIf="name?.invalid && name?.touched">name is required</span>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="price" required>
            <span class="error" *ngIf="price?.invalid && price?.touched">Price is required</span><br>
            
          </div>
        <div class="mb-3">
          <label for="imageURL" class="form-label">ImageURL</label>
          <input type="url" class="form-control" formControlName="imageURL" required>
          <span class="error" *ngIf="imageURL?.invalid && imageURL?.touched">Url is required</span><br>
          
        </div>
       
        <button [disabled]="addproductform.invalid" class="btn btn-primary">Submit</button>
      </form>
    
    </div>
    