<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 mt-3" style="background-color: aquamarine;">
            <h5>Product Code</h5>
            <div *ngFor="let i of arr">
                <input class="me-2" type="checkbox" value="{{i.code}}" (change)="filterByCode($event)">
                <label for="rad">{{i.code | titlecase}}</label>
            </div>

            <h5>Brand</h5>
            <div *ngFor="let i of uniqueBrandArray">
                <input class="me-2" type="checkbox" value="{{i.brand}}" (change)="filterByBrand($event)">
                <label for="rad">{{i.brand| titlecase}}</label>
            </div>
            <h5>Name</h5>
            <div *ngFor="let i of uniqueNameArray">
                <input class="me-2" type="checkbox" value="{{i.name}}" (change)="filterbyName($event)">
                <label for="rad">{{i.name | titlecase}}</label>
            </div>
            
        </div>
        <div class="col-md-10">
            <div class="row">
                <div *ngFor="let i of productArray" class="col-md-3 mt-3">
                    <div class="card">
                        <img class="card-img-top" src="{{i.imageURL}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">{{i.brand | titlecase}}</h4>
                            <h6 class="card-title">{{i.name | titlecase}}</h6>
                            <div *ngIf="i.count>0">
                                <ngb-rating [(rate)]="i.sum/i.count" [max]="5" [readonly]="true"></ngb-rating>
                                <span class="ms-2">{{i.count}}</span>
                            </div>
                            <p><i class="fa fa-inr"></i><b>{{i.price}}</b></p>
                            <button class="btn btn-primary stretched-link " routerLink="/productreview/{{i.id}}">View Product</button><br>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>